@font-face {
    font-family: SourceCodePro;
    src: url(/modules/page/view/fonts/Source_Code_Pro/SourceCodePro-Semibold.ttf);
}

.debug {
    position: fixed;
    margin: 200px;
    width: calc(100% - 400px);
    height: calc(100% - 400px);
    border: 2px dashed red;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    padding: 8px;
    overflow: auto;
}
.debug h2 {
    font-size: 14pt;
    font-weight: bolder;
    text-decoration: underline;
    color: olive;
    margin-bottom: 4px;
}
.debug .query {
    color: cadetblue;
    font-size: 12pt;
    font-family: SourceCodePro;
}
