@font-face {
    /* от Google */
    font-family: NotoSans;
    src: url(/modules/page/view/fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(/modules/page/view/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

html, 
body { 
    height: 100%; overflow: hidden;
    ~background-image: url(/img/backgrounds/ricepaper2.png);
    font-size: 10pt; 
    ~font-family: NotoSans;
    font-family: Ubuntu; 
}

/*
input[type='checkbox'] { 
~margin-top: 0;
~height: 4px;
~border:1px solid green;
~font: 14px/26px 'pt-sans', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
~padding:7px 7px 7px 12px;
padding: 6px;
~background: beige;
~border:1px solid darkgray;
~outline:none;
~color: orange;
~-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
~-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
~box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);        
-webkit-appearance: none;
~-webkit-font-smoothing: antialiased;
~-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition: all 0.15s;
-moz-transition: all 0.15s;
-ms-transition: all 0.15s;
-o-transition: all 0.15s;
transition: all 0.15s;          
}
input[type=checkbox]:focus
{
    outline: none;
~border-color: pink;
~color: cyan;
~-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
~-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
~box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
}
input[type=checkbox]:checked {
~background-color: rgb(126, 115, 109);
background-color: rgb(62, 55, 52);
}
input, label { vertical-align: middle }
label { margin-left: 0; }
*/
