@font-face {
    font-family: Lobster;
    src: url(/modules/page/view/fonts/Lobster/Lobster-Regular.ttf);
}

.login { 
    position: absolute; top: 64px; left: calc(50% - 340px);
    width: 640px; height: 435px;
    border-radius: 8px; background: url("../img/Charles_Wysocki_5.png") center no-repeat; 
    text-align: center; 
    ~border: 4px solid chocolate;
}
	
	.login .logo {
        margin: 20px auto;
        width: 80%; height: 20%; 
	    border-radius: 8px; 
        ~background: url("../img/logo.png") center no-repeat rgba(255,255,255,0.7); 
        background: rgba(255, 255, 255, 0.8);
        ~background-size: 90%;
	    padding: 8px; 
    }

    .login .letters {
        width: auto;
        position: absolute;
        margin-top: 8px;
        margin-left: 16px;
        z-index: 0;
    }

    .login .logo .title h2 {
        font-family: Lobster;
        background: white;
        color: red;
        opacity: 1;
        font-size: 34pt;
        z-index: 1000;
    }
	
	.login .name {
        margin: 0 auto; 
	    width: 340px;
	    border-radius: 8px; border: 2px dotted darkred; background: rgba(255,255,255,0.8);
	    padding: 8px; text-align: center; font-family: monospace; font-size: 12pt; font-weight: bold; 
        color: darkslategray;
    }
	
	.login .name .version {
        background: white; 
	    vertical-align: middle;
	    padding: 2px; font-family: monospace; font-size: 8pt; font-weight: bold; quotes: "[" "]"; 
    }
		
		.login .name .version:before { 
            content: open-quote; 
        }
		
		.login .name .version:after { 
            content: close-quote; 
        }

	.login .panel { 
        margin: 24px auto;
	    width: 240px; padding: 8px; 
	    border-radius: 4px; box-shadow: 0 0 6px darkslategray; 
    }
	  
	.login .panel input + input { 
        ~width: 100%; 
	    ~border-radius: 4px; 
	    ~padding: 4px; 
        margin-top: 6px;
    }

    .login .panel input[type=submit] {
        background: darkseagreen;
        color: white;
    }
	
