.panel {
    width: 100%;
    height: 64px;
    background: darkseagreen;
    font-size: 18pt;
    min-width: 800px;
}

.panel .menu {
    float: left;
    margin-left: 16px;
    margin-top: 14px;
    color: darkseagreen;
}

.panel .label {
    float: left;
    margin-left: 16px;
    margin-top: 14px;
}

.panel .search {
    float: left;
    width: 400px;
    margin-left: 16px;
    margin-top: 8px;
}
.panel .search button {
    color: darkseagreen;
}

.panel button[name=view],
.panel button[name=sort],
.panel button[name=logout] {
    float: right;
    margin-right: 16px;
    margin-top: 14px;
    color: darkseagreen;
}

.panel button[name=add] {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: coral;
    color: white;
}
