.mosaic {
    ~width: 100px;
    ~height: 100px;
    ~border: 1px dotted red;
}

.mosaic .letter {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

.mosaic .letter table {
    border-collapse: separate;
    border-spacing: 1px;
}

.mosaic .letter table td {
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

.mosaic .letter table td:empty {
    ~background: lightgray;
}

.mosaic .letter table td:not(:empty) {
    ~box-shadow: 0 0 4px red;
    ~background: black;
}
